@use 'vars' as *;
@use 'mixins' as *;

@include wrap {
    .formula {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        grid-auto-rows: max-content;
        grid-auto-flow: column;
        gap: 4px;
        margin-right: auto;
        margin-top: 16px;

        &:has(> :last-child:nth-child(5)) {
            grid-template-columns: repeat(5, auto);
        }

        &:has(> .formula__frac) {
            --base-row: 2;
            grid-template-rows: auto 1px auto;

            & > *:not(.formula__frac) {
                grid-row: var(--base-row);
            }

            .formula__frac {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: subgrid;
                grid-row: 1 / -1;

                text-align: center;

                @include sm {
                    text-align: left;
                }

                .formula__bar {
                    width: 100%;
                    height: 1px;
                    background-color: $black;
                    align-self: center;
                }
            }
        }

        @include sm {
            font-size: 14px;
            line-height: 19px;
        }

        & > * {
            grid-row: 1;
            align-self: center;
        }
    }
}
